<header class="header-6">
  <div class="branding">
      <a class="nav-link">
          <clr-icon shape="event"></clr-icon>
          <span class="title">ABS School Management System</span>
      </a>
  </div>
  <div class="header-actions">
      <clr-dropdown>
          <button class="nav-text" clrDropdownTrigger>
              <div *ngIf="userName != ''">
                  {{userName}}
              </div>
              <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
              <a routerLink="./changepassword" clrDropdownItem>Change Password</a>
              <a (click)="logout()" clrDropdownItem>Log out</a>
          </clr-dropdown-menu>
      </clr-dropdown>
  </div>
</header>